{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<style type="text/css">
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  margin-left: auto;
  margin-right: auto;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
}
#login-box{
  padding: 50px;
}
#_submit{
  margin-top: 15px;
}
#_register{
  margin-top: 15px;
}
label{
  margin-top: 15px;
}
.btn-primary{
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
</style>
{% endblock %}






{% block body %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="login" class="container">
  <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
  <div class="container justify-content-center align-items-center" id="login-container">
    <div id="login-row" class="row justify-content-center align-items-center">

      <div id="login-column">
        <div id="login-box">


          <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="{{ 'profile.show.email'|trans }}"/>

            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="{{ 'security.login.password'|trans }}"/>

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="form-control btn btn-lg btn-primary btn-block"/>
            <a id="_register" href="{{path("fos_user_registration_register")}}" class="btn btn-block btn-dark">Registrieren</a>
          </form>




        </div>
      </div>

    </div>
  </div>
</div>
{% endblock%}
