{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css" />
{% endblock %}

{% block body %}

<div class="container">

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{path("toern_list")}}" class="btn btn-secondary">Abbrechen</a>
</div>
{% endblock %}


{% block javascripts%}
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
{% endblock %}
