{% extends 'base.html.twig' %}


{% block body %}

<div class="container">

<table class="table">
  <tr>
    <th>Fahrtgebiet</th>
    <th>Von</th>
    <th>Bis</th>
  </tr>
  {% for toern in toerns %}
<tr>
  <td><a href="{{path("toern_edit", {'toernId': toern.Id})}}">{{toern.Destination}}</a></td>
  <td>{{toern.fromDate|date('d.m.Y')}}</td>
  <td>{{toern.toDate|date('d.m.Y')}}</td>
  <td><a class="btn btn-primary" href="{{path("toern_edit", {'toernId': toern.Id})}}">Törn bearbeiten</a></td>
  <td><a class="confirmation btn btn-danger" href="{{path("toern_delete", {'toernId': toern.Id})}}">Törn Löschen</a></td>
</tr>
{% endfor %}
</table>

<a class="btn btn-primary" href="{{path("toern_create")}}">Neuen Törn erstellen</a>
</div>
{% endblock %}
